<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../images/logo.jpeg" alt="Logo de la empresa" width="30" height="30" class="navbar-logo">
  </a>
  <P class="navbar-title">HOSPITALIZACION EN CASA</P>
  
  <!-- Aquí puedes agregar los elementos de navegación adicionales, como enlaces a otras páginas o botones -->
</nav>
<div class="container">
  <div class="sidebar">
    <!-- Contenido de la barra lateral -->
    <button (click)="listarUsuarios()">Mostrar todos los Usuarios</button>
    <button (click)="registrarFamiliar()">Registrar Familiar</button>
    <button (click)="registrarPaciente()">Registrar Paciente</button>
  </div>
  <div class="main-content">
    <!-- Contenido de donde van los componentes -->
    <ng-container *ngIf="componenteSeleccionado">
      <ng-container *ngComponentOutlet="componenteSeleccionado"></ng-container>
    </ng-container>
  </div>
</div>